body{
	font-family:rockwell;
}

.navbar{
	background-image:url('../Dossier Images/pexels-photo-1631677.jpeg');
	height: 100px;
	background-size: cover;
	background-repeat: no-repeat;
}

.navbar ul{
	display:flex;
	margin-left: 60%;
}

.navbar li{
	padding-top:10px;
	list-style: none;
	margin: 10px;
}

.navbar h3{
	position: absolute;
    left: 10px;
    top: 10px;
}

